
@media only screen and (max-width: 720px) {
    .container {
    width: 500px;
    }
}

@media only screen and (max-width: 540px) {
    .container {
    width: 300px;
    text-align: center;
    }

    h1, h2, p {
    color: purple;
    }

    #img-kimchi {
    width: 300px;
    }

}

